@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700');

body {
  background-color: white;
  font-family: "EB Garamond", serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 40em;
  text-align: justify;
  word-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

code {
  font-family: monospace,monospace;
  font-size: 0.9em;
  padding-left: .25em;
  padding-right: .25em;
}


h1 {
	border-bottom: 1px solid silver;
}

h2 {
	border-bottom: 1px solid silver;
}

h3 {
	font-size: large;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
